@import "src/assets/styles/shared/vars";

.weather-tab {
  border: 1px solid $bg-middle;
  border-radius: 4px;
  padding: 12px 20px;

  &__single {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    &-date {
      color: $text-main;
      margin-bottom: 16px;
    }

    &-sun {
      border-radius: 3px;
      border: 0.5px solid $bg-middle;
      padding: 6px 10px;
      width: max-content;
      color: $text-third;
    }
  }

  &__temperature {
    display: flex;

    &-thermometer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 32px;

      &-stamp {
        display: flex;
        justify-content: flex-end;

        .hr {
          background: $text-main;
          height: 1px;
          width: 18px;
          border-radius: 8px;
          position: relative;

          .text {
            position: absolute;
            left: -25px;
            bottom: -6px;
          }
        }
      }

      &-bar {
        position: absolute;
        right: 6px;
        bottom: 0;
        border-radius: 8px;
        width: 5px;
        z-index: 1;
        background: $warning;
      }


    }
  }

  &__stats {
    &-title {
      margin-bottom: 16px;
    }

    &-temp {
      display: flex;
      align-self: center;
      color: $text-main;

      &-span {
        color: $text-fourth;
        margin-right: 4px;
      }
    }
  }
}
